{% extends 'base.html.twig' %}

{% block title %} Lieu {% endblock %}

{% block body %}

    <div id="location" idLocation="{{ id }}" latitude="{{ latitude }}" longitude="{{ longitude }}"></div>

{% endblock %}
